<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bestelltool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <Bestelltool.Properties.Settings>
      <setting name="Warenliste" serializeAs="String">
        <value>..\..\Warenliste.wl</value>
      </setting>
      <setting name="Bestellblatt" serializeAs="String">
        <value>..\..\Bestellblatt.best</value>
      </setting>
      <setting name="WindowsDomain" serializeAs="String">
        <value>pdc_msr</value>
      </setting>
      <setting name="Mail" serializeAs="String">
        <value>sample@mail.de</value>
      </setting>
      <setting name="MailHash" serializeAs="String">
        <value>$argon2i$v=19$m=131072,t=6,p=1$QpQhm8UjAzXPhUUw9Vc8FQ$9959sLEpMQ9OFvDKEHI2EN5CKrwSrYC38w6meh18Bdw???????????????????????????????</value>
      </setting>
      <setting name="HostMail" serializeAs="String">
        <value>orders@company.de</value>
      </setting>
    </Bestelltool.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>